CORS_ORIGIN=
PORT=
MONGODB_URI=
MONGODB_DB_NAME=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_USER=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
GOOGLE_GENAI_API_KEY=