@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'DM Sans', 'Segoe UI', 'sans-serif';
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #f0f4ff 0%, #faf5ff 50%, #f0fdf4 100%);
  overflow-x: hidden;
}